@model IEnumerable<AppCrud1.Models.Cliente>

<h1>Lista de Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Cliente cliente in Model) {
        <tr>
                <td>
                    @cliente.Id
                </td>
                <td>
                    @cliente.NomeCli
                </td>
                <td>
                    @cliente.Telefone
                </td>
                <td>
                    @cliente.CEP
                </td>
                <td>
                    @cliente.DataCadastrada
                </td>
            <td>
                <button type="button" class="btn btn-warning">
                    @Html.ActionLink("Editar", "AtualizarCliente", new { Id = cliente.Id })
                </button>
                <button type="button" class="btn btn-secondary">
                    @Html.ActionLink("Detalhes", "DetalhesCliente", new { Id = cliente.Id }) 
                </button>
                <button type="button" class="btn btn-danger">
                    @Html.ActionLink("Excluir", "ExcluirCliente", new { Id = cliente.Id } ,
                    new { onclick = "return confirm('Deseja Realmente desativar?')"})
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
